In [1]:
import pandas as pd
from sqlalchemy import create_engine
import json

In [2]:
races = pd.read_csv("Datasets/races.csv", index_col=[0])
circuits = pd.read_csv("Datasets/circuits.csv", index_col=[0])
#lap_times_1 = pd.read_csv("Datasets/lap_times/lap_times_split_1.csv", index_col=[0])
#lap_times_2 = pd.read_csv("Datasets/lap_times/lap_times_split_2.csv", index_col=[0])
#lap_times_3 = pd.read_csv("Datasets/lap_times/lap_times_split_3.csv", index_col=[0])
#lap_times_4 = pd.read_csv("Datasets/lap_times/lap_times_split_4.csv", index_col=[0])
#lap_times_5 = pd.read_csv("Datasets/lap_times/lap_times_split_5.csv", index_col=[0])

In [3]:
constructors = pd.read_json("Datasets/constructors.json")
#pit_stops = pd.read_json("Datasets/pit_stops.json")
results = pd.read_json("Datasets/results.json")

In [4]:

with open("Datasets/drivers.json", encoding="UTF-8") as f:
    drivers = json.load(f)
    
drivers = pd.json_normalize(drivers)

In [5]:
drivers = drivers.rename(columns={'name.forename': 'forename','name.surname': 'surname' })

In [170]:
#with open("Datasets/Qualifying/qualifying_split_1.json", encoding="UTF-8") as f:
    #qualifying_1 = json.load(f)

#qualifying_1 = pd.json_normalize(qualifying_1)

In [171]:
#with open("Datasets/Qualifying/qualifying_split_2.json", encoding="UTF-8") as f:
    #qualifying_2 = json.load(f)

#qualifying_2 = pd.json_normalize(qualifying_2,)

In [172]:
#qualifying = pd.concat([qualifying_1, qualifying_2], axis=0)

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ChrisPI')

In [7]:
engine.connect()

In [8]:
races.to_sql(name='races', con=engine, if_exists='replace')
circuits.to_sql(name='circuits', con=engine, if_exists='replace')
#lap_times_1.to_sql(name='lap_times_1', con=engine, if_exists='replace')
#lap_times_2.to_sql(name='lap_times_2', con=engine, if_exists='replace')
#lap_times_3.to_sql(name='lap_times_3', con=engine, if_exists='replace')
#lap_times_4.to_sql(name='lap_times_4', con=engine, if_exists='replace')
#lap_times_5.to_sql(name='lap_times_5', con=engine, if_exists='replace')

77

In [9]:
constructors.to_sql(name='constructors', con=engine, if_exists='replace')
#pit_stops.to_sql(name='pit_stops', con=engine, if_exists='replace')
results.to_sql(name='results', con=engine, if_exists='replace')
drivers.to_sql(name='drivers', con=engine, if_exists='replace')
#qualifying.to_sql(name='qualifying', con=engine, if_exists='replace')

853

In [10]:
races.to_sql(name='races', con=engine, if_exists='replace')

58

In [11]:
drivers

,driverId,driverRef,number,code,dob,nationality,url,forename,surname
0,1,hamilton,44,HAM,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton
1,2,heidfeld,\N,HEI,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,Nick,Heidfeld
2,3,rosberg,6,ROS,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg,Nico,Rosberg
3,4,alonso,14,ALO,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando,Alonso
4,5,kovalainen,\N,KOV,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,Heikki,Kovalainen
...,...,...,...,...,...,...,...,...,...
848,850,pietro_fittipaldi,51,FIT,1996-06-25,Brazilian,http://en.wikipedia.org/wiki/Pietro_Fittipaldi,Pietro,Fittipaldi
849,851,aitken,89,AIT,1995-09-23,British,http://en.wikipedia.org/wiki/Jack_Aitken,Jack,Aitken
850,852,tsunoda,\N,TSU,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda,Yuki,Tsunoda
851,853,mazepin,\N,MAZ,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin,Nikita,Mazepin
852,854,mick_schumacher,\N,SCH,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher,Mick,Schumacher

In [16]:
drivers.reset_index()

,index,driverId,driverRef,number,code,dob,nationality,url,forename,surname
0,0,1,hamilton,44,HAM,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton
1,1,2,heidfeld,\N,HEI,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,Nick,Heidfeld
2,2,3,rosberg,6,ROS,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg,Nico,Rosberg
3,3,4,alonso,14,ALO,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,Fernando,Alonso
4,4,5,kovalainen,\N,KOV,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,Heikki,Kovalainen
...,...,...,...,...,...,...,...,...,...,...
848,848,850,pietro_fittipaldi,51,FIT,1996-06-25,Brazilian,http://en.wikipedia.org/wiki/Pietro_Fittipaldi,Pietro,Fittipaldi
849,849,851,aitken,89,AIT,1995-09-23,British,http://en.wikipedia.org/wiki/Jack_Aitken,Jack,Aitken
850,850,852,tsunoda,\N,TSU,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda,Yuki,Tsunoda
851,851,853,mazepin,\N,MAZ,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin,Nikita,Mazepin
852,852,854,mick_schumacher,\N,SCH,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher,Mick,Schumacher

In [20]:
print(pd.io.sql.get_schema(constructors, name='constructors', con=engine))

CREATE TABLE constructors (
	"constructorId" BIGINT,
	"constructorRef" TEXT,
	name TEXT,
	nationality TEXT,
	url TEXT
)